.dormant-tab {
    background-color: #1C212D;
    color: #B2BDC8;
    font-size: 50px;
}

.active-tab {
    color: #FF9988;
    background-color: #1C212D;
    border-bottom: 1px solid;
    padding-bottom: 3px;
    font-size: 50px;
}

.para-card {
    color: #B2BDC8;
    background-color: #1C212D; 
    border: #1C212D !important;
}

.para-text {
    color: #B2BDC8;
    background-color: #1C212D;
    font-size: 40px;
    border: #1C212D !important;
    border-radius: 0rem;
    width: 80%;

    /* padding: 0px 50px; */
}

.header {
    font-size: 70px;
    color:#FF9988;
}

.page-wrapper {
    padding-top: 70px;
}