.text-label {
    /* background-color: #1C212D; */
    color: #B2BDC8;
    font-size: 20px
}

.text-box {
    color:  #B2BDC8;
    background-color: #1C212D;
    border-bottom: 1px solid;
    padding-bottom: 3px;
}

#form-wrapper {
    padding: 0% 50% 0% 70px;
}
@media (max-width:800px){
    #form-wrapper {
        padding: 0% 70px;
    }
}
.header {
    font-size: 70px;
    color:#FF9988;
}
#signup-link{
    color: #FF9988;
}
.button {
    color: #B2BDC8;
    border: #1C212D !important;
    margin-top: 20px;
    margin-bottom: 20px;
    float: right;
}

.button, #redirect, #img-wrapper{
    display: inline;
}

@media (max-width:800px){
    .button, #redirect {
        display: block;
        float: none;
    }
}

#login-img{
    width: 30%; 
    height: auto;
}

#redirect {
    float: left;
}
/* .para-text {
    color: #B2BDC8;
    background-color: #1C212D;
    font-size: large;
    border: #1C212D !important;
    border-radius: 0rem;
    width: 80%;

    /* padding: 0px 50px; 
} */