.text-label {
    /* background-color: #1C212D; */
    color: #B2BDC8;
    font-size: 20px;
}

.text-box {
    color:  #B2BDC8;
    background-color: #1C212D;
    border-bottom: 1px solid;
    padding-bottom: 3px;
    /* width: 500px; */
}

.cover {
    object-fit: cover;
}

#form-wrapper {
    /* padding: 70px; */
    width: 50%;
    /* padding-top: 70px; */
}
@media (min-width:1151px){
    #form-wrapper {
        display: inline-block;
    }
    #img-wrapper {
        width: 50%;
        display: inline-block;
        text-align: center;
    }
}
@media (max-width:1150px){
    #form-wrapper {
        display: block;
        width: auto;
    }
    #img-wrapper {
        display: block;
        margin-top: 100px;
        padding: 70px;
        text-align: center;
    }
}
.header {
    font-size: 70px;
    color:#FF9988;
}
#signup-link{
    color: #FF9988;
}
.button {
    color: #B2BDC8;
    border: #1C212D !important;
    margin-top: 20px;
    margin-bottom: 20px;
    float: right;
}

/* .button, #redirect{
    display: inline-block;
} */

@media (max-width:800px){
    .button, #redirect {
        display: block;
        float: none;
    }
}

#login-img{
    width: 30%; 
}

#redirect {
    float: left;
}