<html lang="en">
<head>
    <!--Imports needed for bootstrap-->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <meta charset="UTF-8">
    <title>Boilerplate</title>
    <link rel="stylesheet" href="/assets/css/style.css">
</head>
<body>
<h1>
    Other Layout
</h1>
{{{body}}} <!--Contents rendered inside of layout-->
{{> test}} <!--partial-->
</body>
</html>
